@model Gokart_Laptime.ViewModels.RaceRacersViewModel

@{
    ViewContext.ViewBag.Information = ViewBag.RacerAdded;
}

@{
    ViewBag.Information = ViewBag.RacerAdded;
}


<form onsubmit="event.preventDefault()" class="row g-2 justify-content-md-center mb-3">
    <input id="raceId" type="hidden" value="@Model.Race.RaceId" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-6 col-xl-4">
        <select @(@Model.NotIncludedRacers.Count == 0 ? "disabled" : "") id="racerSelect" class="form-select bg-dark text-white">
            @for (var i = 0; i < Model.NotIncludedRacers.Count(); i++)
            {
                <option value="@Model.NotIncludedRacers[i].RacerId">@Model.NotIncludedRacers[i].RacerName</option>
            }
        </select>
    </div>
    <div class="col-md-6 col-xl-4">
        <button @(@Model.NotIncludedRacers.Count == 0 ? "disabled" : "") onclick="AddRacer()" class="col-sm-4 w-100 btn btn-outline-success"><i class="fas fa-plus me-2"></i>Add Racer</button>
    </div>
</form>

<div class="table-responsive rounded col-xl-8 m-auto">
    <table class="table text-light table-bordered border-secondary text-nowrap ">
        <thead class="bg-danger text-center">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IncludedRacers.FirstOrDefault().RacerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IncludedRacers.FirstOrDefault().RacerName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="text-center align-middle">
            @foreach (var item in Model.IncludedRacers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RacerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RacerName)
                    </td>
                    <td>
                        <button onclick="RemoveRacerModal(this)" class="btn btn-outline-danger" data-racerid="@item.RacerId" data-raceid="@item.RaceId" data-bs-toggle="modal" data-bs-target="#removeRacerModal"><i class="fas fa-times"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<!-- Modal -->
<div class="modal fade" id="removeRacerModal" tabindex="-1" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered text-light">
        <div class="modal-content  border-secondary bg-dark">
            <div class="modal-header bg-danger">
                <h5 class="modal-title" id="exampleModalCenterTitle">Remove Racer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Do you really would like to remove the racer?</p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">No</button>
                <button onclick="RemoveRacer()" type="button" class="btn btn-outline-danger">Yes</button>
            </div>
        </div>
    </div>
</div>
